<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body id="colorBody">
    <div class="homeDiv">
        
        <div>
            <form action='/homelogin' method ='post'>
                <input type="submit" name = 'btnLogin' id = "btnHome" value ="Login">
            </form>
        </div>
        <div>
            <form action='/homeregister' method ='post'>
                <input type="submit" name = 'btnRegister' id = "btnHome" value ="Register">
            </form>
        </div>
    </div>

    </body>
</html>