
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body id="colorBody">
    
        
        <div class="wrapper">
        <h3>Login</h3>
            <form action="/login" method="post">
                <label for="Name">Name</label>
                <input type="text" name="loginName"><br/><br/>
            
                <label for="Password">Password</label>
                <input type="text" name="loginPassword"><br/><br/>
            
                <input type="submit" id="btnSubmit" name="btnLogin" value="Login"/>
            </form>
        </div>
   
    </body>
</html>



